/*  your css code here. If applicable */
body{margin:0px;}
.c1{display:inline;
   }
#animal-photos{
              text-align:center;
			  border-left:50px solid black;
	          border-right:50px solid black;
              background-color:grey;
	          overflow:visible;
			  padding:25px;}
img{border-radius:30px;}
#photo-heading{color:white;}