
        h1{
            color:red;
            border:1px solid black;
            
        }

        div{
            color: blue;
            width: 200px;
            height: 200px;
            border: 1px solid black;
            background: pink;
            padding: 10px;
            margin: 5px;
            text-align: center;
            font-size: 40px;
            font-weight: 10px;
            
        } 


       

